* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
}

.feed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

img {
  object-fit: contain;
  padding: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

.title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  padding: 1.2rem;
}

.sub-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}
