#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.feed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

img {
  padding: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

.title {
  text-align: center;
  font-weight: bold;
}
